html, body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/header-bg-img.png");
    background-size: cover;
    height: 15vw;
    background-blend-mode: color black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
}

nav>a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.7em;
}

nav>a:link, nav>a:visited, nav>a:hover, nav>a:active {
  text-decoration: none;
  color: white;
}

search {
    width: 749px;
    margin: -24px auto 0;
}

.icon-placeholder {
    background-image: url("../images/mag-icon.png");
    background-size: 16px 16px; 
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 30px;
    height: 30px;
}

input {
    width: 600px;
    font-size: 1.2em;
    padding: 1.2em 0;
    border: 1px solid lightgrey;
    border-radius: 6px 0 0 6px;
    text-decoration: none;
}

input:-internal-autofill-selected {
    background-color: white;
}

button {
    font-size: 1em;
    padding: 0.95em 3em 0.8em;
    margin-left: -4px;
    border: 1px solid lightgrey;
    border-radius: 0 6px 6px 0;
}

main, .explore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    height: 100%;
    margin-top: 4em;
}

.explore, .no-results {
    text-align: center;
    margin-top: 10em;
}

.explore>p, .no-results>p {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #DFDDDD;
}

.explore>img {
    width: 100px;
    height: 100px;
}

.index-link {
    display: inline-block;
    color: #363636;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 5px;
}

#index-link {
    display: flex;;
    align-items: center;
}

#index-link>p {
    margin: 0 0 0 6px;
}

#index-link>img {
    width: 22px; 
    height: 22px; 
}

.result-container, .result, .info,
.title-rating, .runtime-genre-add,
.runtime-genre-remove, .add-btn, .remove-btn {
    display: flex;
}

.result {
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 1.5px solid #E5E7EB;
}

.poster {
    /* height: 15rem;  */
    height: 200px;
    max-width: calc(height / 7 * 5); 
}

.info {
    flex-direction: column;
    margin: auto 0 auto 2em;
    width: 500px;
    height: 100%;
}

.title-rating {
    align-items: center;
}

.title, .rating {
    margin: 0;
}

.title {
    font-size: 1.8em;
    font-weight: 700;
}

.title-rating>img {
    width: 16px; 
    height: 16px; 
    margin-left: 1.5em;
}

.rating, .runtime, .genre,
.add {
    color: #111827;
}

.rating {
    margin-left: 0.5em;
}

.runtime, .genre {
    margin-right: 1em;
}

.runtime-genre-add, .runtime-genre-remove, .description {
    margin-top: 1em;
}

.runtime-genre-add p, .runtime-genre-remove p, .description>p {
    margin-top: 0; 
    margin-bottom: 0; 
}

.add-btn, .remove-btn {
    cursor: pointer;
}

.add-btn>img, .remove-btn>img {
    width: 16px; 
    height: 16px; 
    margin-right: 0.3em;
}

.description {
    color: #6B7280;
    max-height: 140px;
    overflow: hidden;
    position: relative;
}

.description.expanded {
    max-height: none;
    overflow: visible;
}

.read-more-btn {
    color: #272727;
    display: none;
    font-size: 0.9em;
    padding: 0 0.2em;
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute; 
    bottom: -2.5;
    right: 0;
}